{% extends "ss/layout.html" %}
{% block body %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Почему нужно использовать короткие и безопасные url??</h5>
        <h6 class="card-subtitle mb-2 text-muted">статья CMU</h6>
        <p class="card-text">Shortened URLs, such as those from bit.ly and goo.gl make it easy to type in a web address
            quickly, but difficult to determine where the web browser will actually take you. Criminals will use
            shortened URLs to direct victims to phishing sites or initiate a download of malicious software on to your
            device. </p>
        <a href="https://www.cmu.edu/iso/aware/dont-take-the-bait/shortened-url-security.html#:~:text=Shortened%20URLs%2C%20such%20as%20those,software%20on%20to%20your%20device." class="card-link">читать полную статью</a>
    </div>
</div>
{% endblock %}